@charset "UTF-8";

header {
  display: flex;
}

.header {
  background-color: rgb(50, 167, 145);
}

form {
  display: flex;
}

#trybewarts-header-title {
  display: flex;
  justify-content: center;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
}

#evaluation-form {
  align-self: flex-start;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  align-content: flex-end;
  height: 500px;
  align-self: flex-end;
}
