@charset "UTF-8";

header {
  display: flex;
}

.header {
  background-color: rgb(50, 167, 145);
}

form {
  display: flex;
}

#trybewarts-header-title {
  display: flex;
  justify-content: center;
  align-self: center;
}

main {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
}
